
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 85vh;
  align-items: center;
  padding: 20px 100px;
  background:  #111111;
  background-color: rgb(4, 28, 41);

  /* border: 2px solid green; */
}

.hero-left {
    width: 80%;
  text-align: center;
  /* border: 2px solid black; */
}

.hero-left h1 {
  font-size: 4vw;
  margin-bottom: 10px;
  color: #ffffff;
}

.hero-left p {
    padding: 2px 20px;
    font-size: 1.5vw;
    /* text-align: left; */
  color: #cdd0e9;
  margin-bottom: 20px;
}

.hero-button {
  padding: 10px 20px;
  background-color:rgb(255, 255, 255);
  border: none;
  color: rgb(28, 26, 26);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  box-shadow:2px 2px #252323;
}

.hero-button:hover {
  background-color: #0482a4;
  box-shadow:2px 2px #fefefe;
  color: white;
  font-size: 15px;
}

.hero-right {
  display: flex;
  justify-content: center;
  min-width: 400px;

  /* border: 2px solid rgb(162, 40, 40); */
  /* border-radius: 20px; */
}

.hero-image {
  max-width: 60%;
  min-width: 30%;
  height: auto;
  border-radius: 40px;
  box-shadow: -10px 8px 15px rgba(11, 11, 11, 0.7);
  rotate: 20deg;
  margin-top: 30px;
  animation: moving 2s ease-in-out ;
}

@keyframes moving {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
    rotate: 30deg;
  }
  100% {
    transform: translateX(0);
  }
}

